<div class="jumbotron well col-md-10 row col-md-offset-1 text-center">
    
    <h2>Currently I spend most of my time taking programming courses and making minecraft mods. I am not yet available for hire as a programmer, but to get an idea of what I will be able to do in the future, check out my skills page, If you wish to see what mods I have made click here: <a href=http://www.planetminecraft.com/member/beardielover/>Click Here</a></h2>
    
</div>