<div class="jumbotron well col-md-10 row col-md-offset-1 text-center">
    
    <h1>Hello, I'm Kai Ritchie</h1>
    <h2>I am a young aspiring programmer.</h2>
    <h2>As a hobby and to advance my programming skills, I make minecraft mods, you can check them out here: <a href=http://www.planetminecraft.com/member/beardielover/>Click Here</a></h2>
    
</div>