<div class="col-md-6 col-md-offset-3 padtop">
    <div class="well">
        <h3 class="codetext text-center">I am qualified in the following skills:</h3>
    </div>
</div>

<div class="col-md-6 padtop-small">
    <div class="well skill-well">
        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" class="skill-image">
        <p class="codetext"><h2 class="codetext">HTML</h2>HyperText Markup Language(HTML) is used to create webpages.</p>
    </div>
</div>

<div class="col-md-6 padtop-small">
    <div class="well skill-well">
        <img src="https://developer.cdn.mozilla.net/media/uploads/demos/v/a/van100j/10778e255e74b36ebd121722b9cae8f5/honey-pursuit-yet-an_1343449132_demo_package/img/css3_logo.png" class="skill-image">
        <p class="codetext"><h2 class="codetext">CSS</h2>Cascading Style Sheets(CSS) is what gives HTML color, shape, and positioning.</p>
    </div>
</div>

<div class="col-md-6 padtop">
    <div class="well skill-well">
        <img src="http://www.b2bweb.fr/wp-content/uploads/js-logo-badge-256.png" class="skill-image">
        <p class="codetext"><h2 class="codetext">Javascript</h2>Javascript adds interactivity to a website. It allows actions to be performed without refreshing a page.</p>
    </div>
</div>

<div class="col-md-6 padtop">
    <div class="well skill-well">
        <img src="http://www.desartlab.com/wp-content/uploads/2015/10/jquery_logo.gif" class="skill-image">
        <p class="codetext"><h2 class="codetext">jQeury</h2>jQuery is a library that makes Javascript coding much more efficient.</p>
    </div>
</div>

<div class="col-md-6 padtop">
    <div class="well skill-well">
        <img src="http://atelier-agile.ch/ruby-on-rails-logo.png" class="skill-image">
        <p class="codetext"><h2 class="codetext">Ruby on Rails</h2>Rails is a framework for Ruby Web Development. It has many uses and components, such as database interaction, Active Record and Action Mailer.</p>
    </div>
</div>

<div class="col-md-6 padtop">
    <div class="well skill-well">
        <img src="https://s3.amazonaws.com/buddylindsey-blog-static/git_icon.png" class="skill-image">
        <p class="codetext"><h2 class="codetext">Git</h2>Git is a version control system for software development.</p>
    </div>
</div>

