@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #517fa4 10%, #243949 90%); /* W3C */
  padding-top: 250px;
}

.main-nav, body {
  position: relative;
}

.logo-hidden {
    visibility: hidden;
}

.well {
   background-color: rgba(245, 245, 245, 0.5);
}

.main-nav {
    background-color:  #A3A7AF;
    border-color: #7F7F7F;
    position: relative;
    margin-bottom: 0px;
    z-index: 1000;
}

.navbar-default {
    background-color:  #A3A7AF;
    border-color: #7F7F7F;
}

.main-nav-scrolled, .logo {
   position: fixed;
   top:0;
   width: 100%;
}

.logo {
  font-weight: bold;
  font: 80px solid black;
   z-index: -100;
   padding: 110px, 50px, 50px;
}

.codetext {
   font-family: monaco, monospace;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 